@import url("./Libs/Bootstrap.css");
@import url("./Libs/Animations.css");
.display-none {
    display: none;
}
.box {
    position: relative;
    background-color: rgb(249, 249, 249);
    border-bottom: 2px solid #edecec;
    padding-bottom: 32px ;
}
.image-box {
    height: 666px;
    padding-bottom: unset;
}
.image-box img {
    width: 100%;
    height: 100%;
}
.close-button-container {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: -8px ;
}
.close-button-container.imageable {

}
.close-button-container.buttonable{

}
.close-button-container.buttonable button{
    cursor: pointer;
}
.close-button-container.iconable{
    
}

