@font-face {
    font-family: "vazir-rd-ui-fd-wol-regular";
    src: 
        url("../../../font/vazir-rd-ui-fd-wol/Vazirmatn-RD-UI-FD-NL-Regular.eot?#iefix") format("eot") , 
        url("../../../font/vazir-rd-ui-fd-wol/Vazirmatn-RD-UI-FD-NL-Regular.eot") format("eot") , 
        url("../../../font/vazir-rd-ui-fd-wol/Vazirmatn-RD-UI-FD-NL-Regular.svg") format("svg") , 
        url("../../../font/vazir-rd-ui-fd-wol/Vazirmatn-RD-UI-FD-NL-Regular.ttf") format("ttf") , 
        url("../../../font/vazir-rd-ui-fd-wol/Vazirmatn-RD-UI-FD-NL-Regular.woff") format("woff") , 
        url("../../../font/vazir-rd-ui-fd-wol/Vazirmatn-RD-UI-FD-NL-Regular.woff2") format("woff2")
    ;
}